{% extends  'Header.html'%}

{% block search %}
  {% from "_macro.html" import render %}
<div class="topnav-right">

<!-- Trigger the modal with a button -->
<button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Remision</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Busqueda</h4>
      </div>
      <div class="modal-body">
        <form  name="sentMessage" id="contactFrom" method="POST">
          {{render(form.Remision, class='form-control')}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Enviar</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>



  <!-- Trigger the modal with a button -->
  <button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Requisicion</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Busqueda</h4>
        </div>
        <div class="modal-body">
          <form  name="sentMessage" id="contactFrom" method="POST">
            {{render(form.Requisicion, class='form-control')}}
            <div class="modal-footer">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>

  <!-- Trigger the modal with a button -->
  <button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Borrar</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Busqueda</h4>
        </div>
        <div class="modal-body">
          <form  name="sentMessage" id="contactFrom" method="POST">
            {{render(form.Delete_Re, class='form-control')}}
            <div class="modal-footer">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
{% block content %}
      <section>
    <!--for demo wrap-->
    <h1>Work inventory  (Requisicion) </h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <tr >
              <th class="cell100 column1">ID</th>


              <th class="cell100 column3">Codigo Producto</th>

              <th class="cell100 column3">Descripcion</th>
              <th class="cell100 column3">Unidad</th>
              <th class="cell100 column3">Cantidad</th>

              <th class="cell100 column1">Solicitado por</th>
              <th class="cell100 column1">Cedula</th>

              <th class="cell100 column3">fecha</th>

              <th class="cell100 column3">Numero de Solicitud</th>
              <th class="cell100 column3">Numero de Requisicion</th>
              <th class="cell100 column3">Numero de Remision</th>
              <th class="cell100 column3">Numero de compra</th>


          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>

            {% for key in Inventory.keys() %}

              <tr>
                <td>{{Inventory[key]['ID']}}</td>
                <td>{{Inventory[key]['Ident']}}</td>

                <td>{{Inventory[key]['Description']}}</td>
                <td>{{Inventory[key]['Units']}}</td>
                <td>{{Inventory[key]['Amount']}}</td>
                <td>{{Inventory[key]['Solicitud']}}</td>
                <td>{{Inventory[key]['Ced']}}</td>
                <td>{{Inventory[key]['Date']}}</td>

                <td>{{Inventory[key]['Number_Solicitud']}}</td>
                <td>{{Inventory[key]['Number_Requisition']}}</td>

                <td>{% for key in Inventory[key]['Remision'] %}
                    <p>{{key}}</p>

                      {% endfor %}
                </td>
                <td>{{Inventory[key]['Number_Compra']}}</td>


              </tr>

            {% endfor %}



        </tbody>
      </table>
    </div>
  </section>

{% endblock %}

  {% block footer %}

  <div class="topnav">
    <a href="http://127.0.0.1:8888/Create_Requisition">Crear Requisicion</a>
    </div>


  {% endblock%}
