server
{
  listen 80;

  server_name 127.0.0.1;

  root /usr/share/nginx/html/app;
  index index.html;

  location / {
    include proxy_params;
    proxy_pass http://unix:/run/gunicorn/socket;
  }

  error_page 404 =200 @error;
}
