
{% extends  'Header.html' %}

{% block content %}

    {% from "_macro.html" import render %}

  <div>
      <div  class = "container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div>
              <h1>Crear Requisicion</h1>
            </div>

            <form name="sentMessage" id="contactFrom" method="POST">
            <div  class = "container">
              <div class="row">
                <div class="col">
                {{render(Inventory.Solicitud_Name, class='form-control')}}
                </div>
                <div class="col">
                {{render(Inventory.Ced, class='form-control')}}
                </div>
                <div class="col">
                {{render(Inventory.N_Requisition, class='form-control')}}
              </div>
              <div class="col">
                {{render(Inventory.Destine, class='form-control')}}
              </div>
            </div>

            <div  class = "container">
                {{render(Inventory.Date, type="date", class='form-control')}}
                <div class="row">
                  <div class="col">
                {{render(Inventory.Identifier_P, class='form-control' )}}
              </div>
              <div class="col">
              {{render(Inventory.N_Solicitud, class='form-control')}}
              </div>
                <div class="col">
                {{render(Inventory.amount, class='form-control' )}}
              </div>
            </div>

              </div>
              <br>
              <div  class = "container">
              <div id="success"></div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <button type="submit" class="btn btn-defaul">Send</button>
                </div>
                </div>
              </div>
            </div>
          </form>


  </div>
</div>
</div>
</div>
{% endblock %}
