
{% extends  'Header.html' %}

{% block content %}

    <section>
  <!--for demo wrap-->
  <h1>Work inventory (PROVEEDORES)</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <tr >
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Direccion</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>

        {% for key in Inventory.keys() %}

          <tr>
            <td>{{Inventory[key]['ID']}}</td>
            <td>{{Inventory[key]['Name']}}</td>
            <td>{{Inventory[key]['Ced']}}</td>
            <td>{{Inventory[key]['Address']}}</td>
          </tr>


        {% endfor %}




      </tbody>
    </table>
  </div>
</section>

    {% endblock %}

  {% block footer %}

  <div class="topnav">
    <a href="http://127.0.0.1:8888/Create_Provider">Crear Proveedor</a>
    </div>


  {% endblock%}
